@model RegisterViewModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">
    <br />
    <form method="post">
        <label>Name :</label>
        <input type="text" asp-for="Name" class="form-control" />
        <br />
        <label>Surname :</label>
        <input type="text" asp-for="Surname" class="form-control" />
        <br />
        <label>Email :</label>
        <input type="text" asp-for="Email" class="form-control" />
        <br />
        <label>Username :</label>
        <input type="text" asp-for="Username" class="form-control" />
        <br />
        <label>City :</label>
        <input type="text" asp-for="City" class="form-control" />
        <br />
        <label>District :</label>
        <input type="text" asp-for="District" class="form-control" />
        <br />
        <label>Password :</label>
        <input type="password" asp-for="Password" class="form-control" />
        <br />
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>
