@model DesignPattern.CQRS.CQRSPattern.Results.GetProductUpdateByQueryResult

@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">
    <br />
    <form method="post">
        <label>Product ID</label>
        <input type="text" class="form-control" asp-for="ProductID" />
        <br />
        <label>Product Name</label>
        <input type="text" class="form-control" asp-for="Name" />
        <br />
        <label>Stock</label>
        <input type="text" class="form-control" asp-for="Stock" />
        <br
        <label>Price</label>
        <input type="text" class="form-control" asp-for="Price" />
        <br
        <label>Description</label>
        <input type="text" class="form-control" asp-for="Description" />
        <br />
        <button class="btn btn-success">Update</button>
    </form>
</div>
